#countdown-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#number {
    font-size: 40px;
}

#message {
    font-size: 24px;
    margin-top: 20px;
}
